<div class="mobile-menu" data-menu>
  <div class="container mobile-menu-container">
    <button class="mobile-menu-close" data-menu-close>
      <svg class="mobile-menu-close-icon" width="8" height="8">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-nav-list">
        <li class="mobile-menu-nav-item">
          <a class="mobile-menu-nav-link current" href="./index.html">Studio</a>
        </li>
        <li class="mobile-menu-nav-item">
          <a class="mobile-menu-nav-link" href="">Portfolio</a>
        </li>
        <li class="mobile-menu-nav-item">
          <a class="mobile-menu-nav-link" href="">Contacts</a>
        </li>
      </ul>
    </nav>
    <address class="mobile-menu-contacts">
      <ul class="mobile-menu-contacts-list">
        <li class="mobile-menu-contacts-item">
          <a class="mobile-menu-contacts-link" href="tel:+110001111111">
            +11 (000) 111-11-11
          </a>
        </li>
        <li class="mobile-menu-contacts-item">
          <a class="mobile-menu-contacts-link" href="mailto:info@devstudio.com">
            info@devstudio.com
          </a>
        </li>
      </ul>
    </address>
    <ul class="mobile-menu-socials-list">
      <li class="mobile-menu-socials-item socials-item">
        <a class="mobile-menu-socials-link socials-link" href="">
          <svg
            class="mobile-menu-socials-icon socials-icon"
            width="24"
            height="24"
          >
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-menu-socials-item socials-item">
        <a class="mobile-menu-socials-link socials-link" href="">
          <svg
            class="mobile-menu-socials-icon socials-icon"
            width="24"
            height="24"
          >
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-menu-socials-item socials-item">
        <a class="mobile-menu-socials-link socials-link" href="">
          <svg
            class="mobile-menu-socials-icon socials-icon"
            width="24"
            height="24"
          >
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-menu-socials-item socials-item">
        <a class="mobile-menu-socials-link socials-link" href="">
          <svg
            class="mobile-menu-socials-icon socials-icon"
            width="24"
            height="24"
          >
            <use href="./images/icons.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
