<section class="team section">
  <div class="container">
    <h2 class="team-title section-title">Our Team</h2>
    <ul class="team-cards">
      <li class="team-card">
        <picture class="team-card-picture">
          <img
            class="team-card-img"
            srcset="
              ./images/our-team/team-img-1.jpg    1x,
              ./images/our-team/team-img-1@2x.jpg 2x
            "
            src="./images/our-team/team-img-1.jpg"
            alt="Mark Guerrero"
            width="264"
          />
        </picture>

        <div class="team-card-text-container">
          <h3 class="team-card-title">Mark Guerrero</h3>
          <p class="team-card-subtitle">Product Designer</p>
          <ul class="team-card-socials-list socials-list">
            <li class="team-socials-item socials-item">
              <a class="team-card-socials-link socials-link" href="">
                <svg
                  class="team-socials-icon socials-icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="team-socials-item socials-item">
              <a class="team-card-socials-link socials-link" href="">
                <svg
                  class="team-socials-icon socials-icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="team-socials-item socials-item">
              <a class="team-card-socials-link socials-link" href="">
                <svg
                  class="team-socials-icon socials-icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-socials-item socials-item">
              <a class="team-card-socials-link socials-link" href="">
                <svg
                  class="team-socials-icon socials-icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <picture class="team-card-picture">
          <img
            class="team-card-img"
            srcset="
              ./images/our-team/team-img-2.jpg    1x,
              ./images/our-team/team-img-2@2x.jpg 2x
            "
            src="./images/our-team/team-img-2.jpg"
            alt="Tom Ford"
            width="264"
          />
        </picture>

        <div class="team-card-text-container">
          <h3 class="team-card-title">Tom Ford</h3>
          <p class="team-card-subtitle">Frontend Developer</p>
          <ul class="team-card-socials-list socials-list">
            <li class="team-socials-item socials-item">
              <a class="team-card-socials-link socials-link" href="">
                <svg
                  class="team-socials-icon socials-icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="team-socials-item socials-item">
              <a class="team-card-socials-link socials-link" href="">
                <svg
                  class="team-socials-icon socials-icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="team-socials-item socials-item">
              <a class="team-card-socials-link socials-link" href="">
                <svg
                  class="team-socials-icon socials-icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-socials-item socials-item">
              <a class="team-card-socials-link socials-link" href="">
                <svg
                  class="team-socials-icon socials-icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <picture class="team-card-picture">
          <img
            class="team-card-img"
            srcset="
              ./images/our-team/team-img-3.jpg    1x,
              ./images/our-team/team-img-3@2x.jpg 2x
            "
            src="./images/our-team/team-img-3.jpg"
            alt="Camila Garcia"
            width="264"
          />
        </picture>

        <div class="team-card-text-container">
          <h3 class="team-card-title">Camila Garcia</h3>
          <p class="team-card-subtitle">Marketing</p>
          <ul class="team-card-socials-list socials-list">
            <li class="team-socials-item socials-item">
              <a class="team-card-socials-link socials-link" href="">
                <svg
                  class="team-socials-icon socials-icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="team-socials-item socials-item">
              <a class="team-card-socials-link socials-link" href="">
                <svg
                  class="team-socials-icon socials-icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="team-socials-item socials-item">
              <a class="team-card-socials-link socials-link" href="">
                <svg
                  class="team-socials-icon socials-icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-socials-item socials-item">
              <a class="team-card-socials-link socials-link" href="">
                <svg
                  class="team-socials-icon socials-icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <picture class="team-card-picture">
          <img
            class="team-card-img"
            srcset="
              ./images/our-team/team-img-4.jpg    1x,
              ./images/our-team/team-img-4@2x.jpg 2x
            "
            src="./images/our-team/team-img-4.jpg"
            alt="Daniel Wilson"
            width="264"
          />
        </picture>

        <div class="team-card-text-container">
          <h3 class="team-card-title">Daniel Wilson</h3>
          <p class="team-card-subtitle">UI Designer</p>
          <ul class="team-card-socials-list socials-list">
            <li class="team-socials-item socials-item">
              <a class="team-card-socials-link socials-link" href="">
                <svg
                  class="team-socials-icon socials-icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="team-socials-item socials-item">
              <a class="team-card-socials-link socials-link" href="">
                <svg
                  class="team-socials-icon socials-icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="team-socials-item socials-item">
              <a class="team-card-socials-link socials-link" href="">
                <svg
                  class="team-socials-icon socials-icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-socials-item socials-item">
              <a class="team-card-socials-link socials-link" href="">
                <svg
                  class="team-socials-icon socials-icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
