.footer {
  padding: 96px 0;
  background-color: var(--dark-color);
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-logo {
  display: inline-block;
}

.footer-logo .logo-accent,
.footer-text {
  color: var(--accent-color);
}

.footer-heading {
  margin-bottom: 16px;
  font-weight: 500;
  color: var(--white-primary-color);
  text-align: center;
}

.footer-socials .socials-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-socials .socials-link:hover,
.footer-socials .socials-link:focus {
  background-color: var(--link-hover-color);
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-subscribe-input {
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  border: 1px solid var(--white-primary-color);
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: border var(--transition-base);
}

.footer-subscribe-input,
.footer-subscribe-input::placeholder {
  color: var(--white-primary-color);
}

.footer-subscribe-input:focus {
  border: 1px solid var(--secondary-color);
}

.footer-subscribe-btn {
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  min-width: 165px;
}

.footer-subscribe-icon {
  margin-left: 16px;
  fill: var(--white-primary-color);
}

@media screen and (min-width: 768px) {
  .footer-container {
    align-items: baseline;
    justify-content: flex-start;
  }

  .footer-desc {
    align-items: flex-start;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-heading {
    text-align: left;
  }

  .footer-subscribe-form {
    flex-direction: row;
    gap: 24px;
    max-width: 453px;
  }

  .footer-subscribe-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .footer-desc {
    margin-right: 120px;
  }

  .footer-subscribe {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    padding: 0 108px;
    gap: 72px 24px;
  }
}

@media screen and (max-width: 767.98px) {
  .footer-container {
    gap: 72px;
  }
}

@media screen and (max-width: 1157px) {
  .footer-subscribe-input {
    opacity: 0.3;
  }
  .footer-subscribe-input::placeholder {
    opacity: 0.6;
  }
}
