.team {
  background-color: var(--accent-color);
}

.team-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 72px;
}

.team-card {
  text-align: center;
  background-color: var(--white-primary-color);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card-text-container {
  padding: 32px 0;
}

.team-card-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
}

.team-card-subtitle {
  margin-bottom: 8px;
}

.team-card-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-card-socials-link:hover,
.team-card-socials-link:focus {
  background-color: var(--btn-hover-color);
}

@media screen and (min-width: 768px) {
  .team-cards {
    gap: 64px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .team-cards {
    gap: 24px;
  }
}
